{% extends 'app_lab/base.html' %}

{% block title %}Banco de Sangue{% endblock %}

{% block content %}
<h1>Banco de Sangue</h1>
<table>
    <thead>
        <tr>
            <th>Tipo Sanguíneo</th>
            <th>Quantidade</th>
            <th>Última Atualização</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for banco in object_list %}
        <tr>
            <td>{{ banco.tipo_sanguineo.tipo }}</td>
            <td>{{ banco.quantidade_em_unidades }}</td>
            <td>{{ banco.atualizado_em|date:"d/m/Y H:i" }}</td>
            <td>
                <a href="{% url 'bancodesangue_update' banco.id %}">Editar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum registro no banco de sangue.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'bancodesangue_create' %}" class="button">Adicionar Registro</a>
{% endblock %}
