<!DOCTYPE html>
<html lang = 'pt'>
<head>
    <meta charset = 'UTF-8'>
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <title>Requisição Incorreta</title>
    <link rel = 'stylesheet' href = "{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Erro 400</h1>
        <p>A requisição que você fez não pode ser processada. Por favor, tente novamente.</p>
        <a href = "{% url 'index' %}">Voltar à página inicial</a>
    </header>
</body>
</html>
